.Notification{
 width: 100vw;
 height: 2rem;
    display: flex;
    justify-content: center;
color: white;
 align-items: center;
    background-color: rgba(0, 128, 0,0.5);
    position: fixed;
    bottom: 5rem;
    
}